<ul class="pagination">
    {% for page in 1..pagination %}
    <li {% if (app.request.get('p')) and (app.request.get('p') == page) %}
        class="active"
        {% else %}
        class="waves-effect"
        {% endif %}
        >
        <a href="?p={{ page }}">
            {{ page }}
        </a>
    </li>
    {% endfor %}
</ul>