<!DOCTYPE HTML>
<html>
<head>
    {% stylesheets '@BlogBundle/Resources/public/materialize-src/sass/materialize.scss' filter="sass"%}
    <link rel='stylesheet' href="{{asset_url}}"/>
    {% endstylesheets %}
</head>
<body>

{% include '@Blog/header.html.twig' %}

    {% if not app.request.cookies.has('cookie') %}
        <div class="cookies">
            <h1>Bienvenue sur la page le nouveau !</h1>
        </div>
    {% endif %}



{% block content %}
{% endblock %}
</body>
</html>
